
<div class="landing-container">
  
  <div class="main">
  </div>

  <div class="name">
    <h1><strong>Construction Safety Cards<strong></h1>
  </div>
   
  <div class="slogan">
    <p><i>Are your workers prepared for an emergency?</i></p>
  </div>

  <div class="sample-front">
    <img src="/assets/images/logos.png" alt="logo" class="card-logo">
    <div class="card-text">
      <h4 style="margin: 0px 0px 0px 0px"><strong>YOUR PROJECT NAME</strong></h4>
      <h5 style="margin: 0px 0px 0px 0px">EMERGENCY RESPONSE CARD</h5>
      <p style="margin: 0px 0px 0px 0px, font-weight: bold">In the event of injury/incident:</p>
      <p style="margin: 0px 0px 0px 5px">1.  If injury is life threatening, dial 911, alert safety team (see back for contact info)</p>
    </div>
  </div>

  <div class="details">
    <div class="slide-one">
      <img src="/assets/images/man.jpg" alt="man" class="picture">
      <p>Construction injuries can occur at any time, on even the safest projects. But when an emergency situation is underway. Will the workers on your jobsite have the answers to the simplest but most crucial questions. What is the jobsite address? Where is the nearest emergency room? This man is headed to the hospital, who is his emergency contact? Who is the responsible person onsite?</p>
    </div>
    <div class="slide-two"></div>

  </div>


</div>